<!-- Very very very basic i18n dropdown for mvp -->

<style>
  #i18n-dropdown,
  #i18n-dropdown-content,
  #i18n-dropdown-button {
    background-color: #e7e7e7;
    padding: 12px 16px;
  }

  #i18n-dropdown-button {
    border: #e7e7e7 3px;
    cursor: pointer;
  }

  #i18n-dropdown {
    position: relative;
    display: inline-block;
  }

  #i18n-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }

  #i18n-dropdown:hover #i18n-dropdown-content {
    display: block;
  }
</style>

<div id="i18n-dropdown">
  <button id="i18n-dropdown-button">Language 🌐</button>
  <div id="i18n-dropdown-content">
    <ul style="list-style: none;">
      <li><a href="/">English</a></li>
      {% for language in site.languages %}
      <li><a href="/index.{{ language.code }}">{{ language.name | escape }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
